<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/404.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>Cerrar</servlet-name>
        <servlet-class>Servlets.Cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Servlets.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Servlets.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarEmpleados</servlet-name>
        <servlet-class>CRUDusu.ConsultarEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarProy</servlet-name>
        <servlet-class>Servlets.ConsultarProy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarProy</servlet-name>
        <servlet-class>CRUDpub.InsertarProy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proy</servlet-name>
        <servlet-class>CRUDpub.Proy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProyDao</servlet-name>
        <servlet-class>CRUDpub.ProyDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarU</servlet-name>
        <servlet-class>Clases.BorrarU</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cerrar</servlet-name>
        <url-pattern>/Cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarEmpleados</servlet-name>
        <url-pattern>/ConsultarEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarProy</servlet-name>
        <url-pattern>/ConsultarProy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarProy</servlet-name>
        <url-pattern>/InsertarProy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proy</servlet-name>
        <url-pattern>/Proy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProyDao</servlet-name>
        <url-pattern>/ProyDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarU</servlet-name>
        <url-pattern>/BorrarU</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
